<!DOCTYPE html>
<!-- build:[manifest] index.min.appcache -->
<html lang="en" ng-app="myApp" ng-strict-di>
<!-- /build -->
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>Dominoes</title>
  <meta name="description" content="Dominoes game">
  <link rel="shortcut icon" type="image/x-icon" href="data:image/x-icon;,"><!-- Suppress browser request for favicon.ico -->

  <!-- To ensure CSS files are downloaded in parallel, always include external CSS before external JavaScript. -->
  <!-- build:[href] css/everything.min.css -->
  <link rel="stylesheet" type="text/css" href="css/game.css">
  <!-- /build -->

  <!-- build:js js/everything.min.js -->
  <script src="lib/angular.js"></script>
  <script src="lib/turnBasedServices.4.js"></script>
  <script src="ts_output_readonly_do_NOT_change_manually/src/gameLogic.js"></script>
  <script src="ts_output_readonly_do_NOT_change_manually/src/game.js"></script>
  <script src="ts_output_readonly_do_NOT_change_manually/src/aiService.js"></script>
  <!-- /build -->
</head>
<body ng-cloak>
<div id="gameArea">
  <!-- First row: Area for other player's tiles -->
  <div class="opponents">
    <div class="opponent" ng-repeat="player in game.getOpponentIds()" style="width: {{100 / game.getNumberOfPlayers()}}%;height:100%">
      <img ng-src="{{ game.getPlayerIconSource(player) }}" class="opponentIcon">
      <h5 ng-if="game.hasGameEnded()" class="scoreText">{{'SCORE' | translate}}: {{ game.getFinalScore(player) }}</h5>
      <img ng-if="!game.hasGameEnded()" ng-repeat="tile in game.getNumberOfTilesForPlayer(player)" ng-src="{{ game.getTileImageSourceForOpponent(player, tile) }}" class="opponentTile">
      <!-- If game ended get real images -->
      <img ng-if="game.hasGameEnded()" ng-repeat="tile in game.getNumberOfTilesForPlayer(player)" ng-src="{{ game.getTileImageSourceForPlayer(player, tile) }}" class="opponentTile">
    </div>
  </div>

<div class="game">
  <div class="tree0" ng-click="game.placeTileOnTree(0)">
    <img ng-src="{{ game.getImageSource(0, 0) }}" ng-if="game.shouldShowImage(0, 0)" ng-class="{rootTile: game.getImageClass(0, 0, 'rootTile'), enLar: game.shouldEnlarge(0, 0)}">
  </div>
  <div class="tree2" ng-click="game.placeTileOnTree(2)">
    <!-- Max: 10 points. Horizontal tile is two points, vertical is one point -->
    <img ng-repeat="tile in [6, 5, 4, 3, 2, 1]" ng-src="{{ game.getImageSource(tile, 2) }}"
    ng-if="game.shouldShowImage(tile, 2)" ng-class="{horizontalTile: game.getImageClass(tile, 2, 'horizontalTile'), horizontalTileFlip: game.getImageClass(tile, 2, 'horizontalTileFlip'), enLar: game.shouldEnlarge(tile, 2)}">

  </div>
  <div class="tree3" ng-click="game.placeTileOnTree(3)">
    <img ng-src="{{ game.getImageSource(7, 3) }}" ng-if="game.shouldShowImage(7, 3)" ng-class="{maxWidthHeightTile: game.getImageClass(7, 3, 'maxWidthHeightTile'), maxWidthHeightTileFlip: game.getImageClass(7, 3, 'maxWidthHeightTileFlip'), enLar: game.shouldEnlarge(7, 3)}">
  </div>
  <div class="tree4" ng-click="game.placeTileOnTree(4)">
    <img ng-src="{{ game.getImageSource(8, 4) }}" ng-if="game.shouldShowImage(8, 4)" ng-class="{maxWidthHeightTile: game.getImageClass(8, 4, 'maxWidthHeightTile'), maxWidthHeightTileFlip: game.getImageClass(8, 4, 'maxWidthHeightTileFlip'), enLar: game.shouldEnlarge(8, 4)}">
  </div>
  <div class="tree5" ng-click="game.placeTileOnTree(5)">
    <img ng-repeat="tile in [9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22]" ng-src="{{ game.getImageSource(tile, 5) }}"
    ng-if="game.shouldShowImage(tile, 5)" ng-class="{tree5Tile: game.getImageClass(tile, 5, 'tree5Tile'), tree5TileFlip: game.getImageClass(tile, 5, 'tree5TileFlip'), enLar: game.shouldEnlarge(tile, 5)}">
  </div>

  <div class="tree1" ng-click="game.placeTileOnTree(1)">
    <img ng-repeat="tile in [1, 2, 3, 4, 5, 6, 7]" ng-src="{{ game.getImageSource(tile, 1) }}"
    ng-if="game.shouldShowImage(tile, 1)" ng-class="{horizontalTile: game.getImageClass(tile, 1, 'horizontalTile'), horizontalTileFlip: game.getImageClass(tile, 1, 'horizontalTileFlip'), enLar: game.shouldEnlarge(tile, 1)}">
  </div>
  <div class="tree6" ng-click="game.placeTileOnTree(6)">
    <img ng-src="{{ game.getImageSource(8, 6) }}" ng-if="game.shouldShowImage(8, 6)" ng-class="{maxWidthHeightTile: game.getImageClass(8, 6, 'maxWidthHeightTile'), maxWidthHeightTileFlip: game.getImageClass(8, 6, 'maxWidthHeightTileFlip'), enLar: game.shouldEnlarge(8, 6)}">
  </div>
  <div class="tree7" ng-click="game.placeTileOnTree(7)">
    <img ng-repeat="tile in [22, 21, 20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9]" ng-src="{{ game.getImageSource(tile, 7) }}"
    ng-if="game.shouldShowImage(tile, 7)" ng-class="{tree5Tile: game.getImageClass(tile, 7, 'tree5Tile'), tree5TileFlip: game.getImageClass(tile, 7, 'tree5TileFlip'), enLar: game.shouldEnlarge(tile, 7)}">
  </div>
</div>

  <!-- Third row: area for current player's tiles -->
  <div class="currentPlayer" ng-if="!game.hasGameEnded()">
      <button id="passbtn" type="button" class="btn passBtn" ng-click="game.passPlay()" ng-if="game.isPassAllowed()">{{'PASS' | translate}}</button>
      <img ng-src="{{ game.getCurrentPlayerIconSource() }}" class="currentPlayerIcon">
      <img ng-repeat="tile in game.getNumberOfTilesForCurrentPlayer()"
      ng-src="{{ game.getTileImageSourceForCurrentPlayer(tile) }}"
      ng-click="game.registerSelectedPlayerTile(tile)"
      ng-class="{currentPlayerTile: true, slowlyAppear: game.shouldSlowlyAppear(tile), selectedTile: game.isSelectedTile(tile)}">
  </div>

  <!-- Right Side: area for house tiles -->
  <div class="boneyard" ng-if="!game.hasGameEnded()">
      <img ng-repeat="tile in game.getNumberOfTilesForBoneYard()" src="imgs/dominoes/domino-blank.svg"
      class="tile" ng-click="game.makeBuyPlay(tile)">
  </div>
</div>

</body>
</html>
